# Default ignored files
/shelf/
/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Файлы данных
quotes_history.json
quotes.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db